@*
    Default Car Steps Component - Turkish Version
*@

<div class="container-fluid steps py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize text-white mb-3">Renteks <span class="text-primary">Süreç</span></h1>
            <p class="mb-0 text-white">
                Araç kiralamak hiç bu kadar kolay olmamıştı! Renteks ile sadece birkaç adımda dilediğiniz aracı seçin ve yola çıkın.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="steps-item p-4 mb-4">
                    <h4>Bizimle İletişime Geçin</h4>
                    <p class="mb-0">Size en uygun kiralama seçenekleri için ekibimizle iletişime geçin.</p>
                    <div class="setps-number">01.</div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="steps-item p-4 mb-4">
                    <h4>Araç Seçiminizi Yapın</h4>
                    <p class="mb-0">Geniş araç filomuzdan ihtiyacınıza uygun aracı kolayca seçin.</p>
                    <div class="setps-number">02.</div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="steps-item p-4 mb-4">
                    <h4>Sürüşün Keyfini Çıkarın</h4>
                    <p class="mb-0">Araç tesliminin ardından güvenli ve konforlu bir yolculuğa başlayın.</p>
                    <div class="setps-number">03.</div>
                </div>
            </div>
        </div>
    </div>
</div>
