@model List<ResultCarDto>

@*
    Default Car Reservation Component
*@

<div class="header-carousel">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/Cental-1.0.0/img/carousel-2.jpg" class="img-fluid w-100" alt="First slide" />
                <div class="carousel-caption">
                    <div class="container py-4">
                        <div class="row g-5">
                            <div class="col-lg-6 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                                <div class="bg-secondary rounded p-5">
                                    <h4 class="text-white mb-4">Araç Kiralama Talebi Oluştur</h4>
                                    <form method="post" asp-area="User" asp-controller="Booking" asp-action="CreateBooking">
                                        <div class="row g-3">
                                            <div class="col-12">
                                                <select class="form-select" name="CarId" aria-label="Default select example">
                                                    <option selected disabled>Kiralamayı talep ettiğiniz aracı seçiniz</option>
                                                    @foreach (var item in Model)
                                                    {
                                                        <option value="@item.CarId">@item.Brand.BrandName - @item.ModelName - @item.GearType</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                                        <span class="fas fa-map-marker-alt"></span> <span class="ms-1">Teslim Al</span>
                                                    </div>
                                                    <input class="form-control" name="PickupLocation" type="text" placeholder="İl, İlçe olarak giriniz" aria-label="İl, İlçe olarak giriniz.">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <a href="#" class="text-start text-white d-block mb-2">Teslim etme noktası neresi olsun?</a>
                                                <div class="input-group">
                                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                                        <span class="fas fa-map-marker-alt"></span><span class="ms-1">Teslim Et</span>
                                                    </div>
                                                    <input class="form-control" name="DropoffLocation" type="text" placeholder="İl, İlçe olarak giriniz." aria-label="İl, İlçe olarak giriniz.">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                                        <span class="fas fa-calendar-alt"></span><span class="ms-1">Teslim Alma</span>
                                                    </div>
                                                    <input name="PickupDate" class="form-control" type="datetime-local">

                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                                        <span class="fas fa-calendar-alt"></span><span class="ms-1">Teslim Etme</span>
                                                    </div>
                                                    <input name="DropoffDate" class="form-control" type="datetime-local">

                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-light w-100 py-2">Kiralama Talebi Oluştur</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-flex fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                <div class="text-start">
                                    <h1 class="display-5 text-white">Çok sayıda araç mı kiralayacaksınız?</h1>
                                    <p>Detayları konuşmak için bizimle iletişime geçebilirsiniz.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
