@* Views altında ViewImportsa @using Cental.EntityLayer.Entities ifadesi ekledik, artık usinge gerek yok *@

@model List<About>
@{
    ViewData["Title"] = "Index";
}

<h1>Hakkımızda</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Vizyon</th>
        <th>Misyon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.AboutId</td>
        <td>@item.Vision</td>
        <td>@item.Mission</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-info">Güncelle</a></td>
    </tr>
}
</table>

<a href="#" class="btn btn-primary">Yeni Hakkımızda Ekle</a>

