@using Cental.DtoLayer.UserDtos
@model ProfileEditDto

@{
    ViewData["Title"] = "Profil Bilgilerini Güncelleme Sayfası";
    Layout = "~/Areas/Admin/Views/AdminLayout/LayoutAdmin.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <div class="text-center">
        <img src="@Model.ImageUrl" style="width:100px;height:100px" alt="Profil Resmi" />
        <input type="file" asp-for="ImageFile" />
    </div>

    <input type="hidden" asp-for="ImageUrl" />
    <label>Ad</label>
    <input type="text" asp-for="FirstName" class="form-control" required />
    <br />
    <label>Soyad</label>
    <input type="text" asp-for="LastName" class="form-control" required />
    <br />
    <label>Email</label>
    <input type="email" asp-for="Email" class="form-control" required />
    <br />
    <label>Telefon Numarası</label>
    <input type="text" asp-for="PhoneNumber" class="form-control" required />
    <br />
    <label>Bilgileri Güncellemek için Şifrenizi Girin</label>
    <input type="password" asp-for="CurrentPassword" class="form-control" required />
    <br />

    <div>
    <p class="text-danger">
        @Html.ValidationSummary()
    </p>
    </div>

    <button class="btn btn-outline-dark">Bilgileri Güncelle</button>
</form>

