
@{
    //HOMEPAGE
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/UILayout.cshtml";
}

@* @if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
} *@

<!-- Carousel Start -->
@await Component.InvokeAsync("_DefaultCarReservationComponent")
<!-- Carousel End -->

<!-- Features Start -->
@await Component.InvokeAsync("_DefaultFeaturesComponent")
<!-- Features End -->

<!-- About Start -->
@await Component.InvokeAsync("_DefaultAboutComponent")
<!-- About End -->

<!-- Fact Counter -->
@await Component.InvokeAsync("_DefaultFactCounterComponent")
<!-- Fact Counter -->

<!-- Services Start -->
@await Component.InvokeAsync("_DefaultServicesComponent")
<!-- Services End -->

<!-- Car categories Start -->
@await Component.InvokeAsync("_DefaultVehiclesComponent")
<!-- Car categories End -->

<!-- Car Steps Start -->
@await Component.InvokeAsync("_DefaultCarStepsComponent")
<!-- Car Steps End -->

<!-- Banner Start -->
@await Component.InvokeAsync("_DefaultBannerComponent")
<!-- Banner End -->

<!-- Team Start -->
@await Component.InvokeAsync("_DefaultManagerComponent")
<!-- Team End -->

<!-- Testimonial Start -->
@await Component.InvokeAsync("_DefaultTestimonialComponent")
<!-- Testimonial End -->
